<iframe id="extension-Candle-manager-addon-iframe" frameborder="0" width="100%" height="100%" style="width:100%;min-height:100%;"></iframe>
<!--
<div id="extension-Candle-manager-addon-content">
  <div id="extension-Candle-manager-addon-request">
    <h2>Echo Request</h2>
    <div id="extension-Candle-manager-addon-form-content">
      <label for="key">Key: </label>
      <input type="text" name="key" id="extension-Candle-manager-addon-form-key" required>
      <br>
      <label for="value">Value: </label>
      <input type="text" name="value" id="extension-Candle-manager-addon-form-value" required>
      <br>
      <button type="button" id="extension-Candle-manager-addon-form-submit">Send</button>
    </div>
  </div>

  <br>
  <br>

  <div id="extension-Candle-manager-addon-response">
    <h2>Echo Response</h2>
    <pre id="extension-Candle-manager-addon-response-data"></pre>
  </div>
  
  
</div>



<div id="extension-Candle-manager-addon-logo-container">
    <img id="extension-Candle-manager-addon-logo" src="/extensions/Candle-manager-addon/images/candle_logo_simple.png" />
</div>

<div id="extension-Candle-manager-addon-wizard-container" style="display: none" class="extension-Candle-manager-addon-wizard-container">
    <ol class="extension-Candle-manager-addon-wizard numeric">
        <li class="extension-Candle-manager-addon-active">
            <span> 1 </span>
            <div>Plug in</div>
        </li>
        <li>
            <span> 2 </span>
            <div>Select type</div>
        </li>
        <li>
            <span> 3 </span>
            <div>Change settings</div>
        </li>
        <li>
            <span> 4 </span>
            <div>Upload</div>
        </li>
        <li>
            <span> 5 </span>
            <div>Check</div>
        </li>
        <li>
            <span> 6 </span>
            <div>Done</div>
        </li>
    </ol>
</div>

<div id="extension-Candle-manager-addon-content">
    <div id="extension-Candle-manager-addon-step0" class="extension-Candle-manager-addon-active">
        <h2>Updating</h2>
        <p>Please wait while the Candle Manager checks for updates.</p>
        <p class="extension-Candle-manager-addon-hidden" id="extension-Candle-manager-addon-skip-update-text">It's taking much longer than normal. You can continue anyway if you'd like.</p>
        <div class="extension-Candle-manager-addon-centering-container spinner">
            <div class="extension-Candle-manager-addon-circular-spinner"></div>
        </div>
        <div class="extension-Candle-manager-addon-button-footer">
            <div></div>
            <button id="extension-Candle-manager-addon-skip-update" style="display:none" class="extension-Candle-manager-addon-next">Next</button>
        </div>
    </div>
    <div id="extension-Candle-manager-addon-step1">
        <h2>Plug in your new device</h2>
        <p>Please plug your Arduino into a free USB port of the Raspberry Pi now. If it's already connected, unplug it and plug it back in after a few seconds. Once it's detected, you will be automatically taken to step 2.</p>
        <div class="extension-Candle-manager-addon-centering-container">
            <div class="extension-Candle-manager-addon-plug-in-spinner">
                <div class="extension-Candle-manager-addon-left-cube"></div>
                <div class="extension-Candle-manager-addon-right-cube"></div>
            </div>
        </div>

    </div>
    <div id="extension-Candle-manager-addon-step2">
        <h2>Select type</h2>
        <p>Which type of device have you just plugged in <span class="extension-Candle-manager-addon-advanced">at </span><span class="extension-Candle-manager-addon-advanced new-port-id"></span>?</p>
        <div id="extension-Candle-manager-addon-sources-container"></div>
        <button class="extension-Candle-manager-addon-advanced" id="extension-Candle-manager-addon-check-for-updates">Check for updates</button>
        <div class="extension-Candle-manager-addon-button-footer">
            <button class="extension-Candle-manager-addon-advanced" id="extension-Candle-manager-addon-skip-to-check">Check serial output</button>
            <div></div>
        </div>
    </div>
    <div id="extension-Candle-manager-addon-step3">
        <h2>Change settings for <span id="extension-Candle-manager-addon-settings_device_name"></span></h2>
        <span class="extension-Candle-manager-addon-advanced bold">Connected at </span><span class="extension-Candle-manager-addon-advanced new-port-id bold"></span>
        <p>If you want you can change these default settings. You can also learn more about how the device works in the description below. When you are ready to continue please click on the <em>next</em> button.</p>
        <div class="extension-Candle-manager-addon-two columns">
            <div id="extension-Candle-manager-addon-settings-container">
                <div id="extension-Candle-manager-addon-settings-errors" class="extension-Candle-manager-addon-error extension-Candle-manager-addon-hidden"></div>
                <div id="extension-Candle-manager-addon-settings"></div>
            </div>
            <div id="extension-Candle-manager-addon-settings-explanation-container">
                <h3>Description</h3>
                <textarea id="extension-Candle-manager-addon-settings-explanation"></textarea>
            </div>
        </div>
        <div class="extension-Candle-manager-addon-button-footer">
            <button class="extension-Candle-manager-addon-back">Back</button>
            <button class="extension-Candle-manager-addon-next">Next</button>
        </div>
    </div>
    <div id="extension-Candle-manager-addon-step4">
        <h2>Uploading to Arduino</h2>
        <p>This may take a few minutes. Please do not unplug your device until this process is complete.</p>

        <div id="extension-Candle-manager-addon-upload-progress_bar">
            <div id="extension-Candle-manager-addon-code-progress" class="extension-Candle-manager-addon-progress_complete">Code</div>
            <div id="extension-Candle-manager-addon-libraries-progress">Libraries</div>
            <div id="extension-Candle-manager-addon-compile-progress">Compiling</div>
            <div id="extension-Candle-manager-addon-test-progress">Testing</div>
            <div id="extension-Candle-manager-addon-upload-progress">Upload</div>
        </div>

        <div id="extension-Candle-manager-addon-upload-output" class="extension-Candle-manager-addon-hidden extension-Candle-manager-addon-error">
            <div id="extension-Candle-manager-addon-upload-status">Starting...</div>
            <div id="extension-Candle-manager-addon-errors-container"></div>
            <div><p><em>Refresh this page to start again.</em></p></div>
        </div>

        <div id="extension-Candle-manager-addon-code-container" class="extension-Candle-manager-addon--hidden">
            <button class="extension-Candle-manager-addon-show code">Inspect the code</button>
            <textarea id="extension-Candle-manager-addon-new-code" class="extension-Candle-manager-addon-hidden"></textarea>
        </div>

        <div class="extension-Candle-manager-addon-button-footer">
            <button class="extension-Candle-manager-addon-restart extension-Candle-manager-addon-hidden">Restart</button>
            <button class="extension-Candle-manager-addon-next extension-Candle-manager-addon-hidden">Next</button>
        </div>
    </div>
    <div id="extension-Candle-manager-addon-step5">
        <h2>Check</h2>
        <p>When you connect your device via USB you can listen to what it's thinking. Check these messages for any errors:</p>
        <div id="extension-Candle-manager-addon-serial-output-container">
            <div id="extension-Candle-manager-addon-serial-output-container-spinner" class="extension-Candle-manager-addon-centering-container spinner">
                <div class="extension-Candle-manager-addon-circular-spinner"></div>
            </div>
        </div>
        <div id="extension-Candle-manager-addon-serial-output-footer">
            <span class="extension-Candle-manager-addon-advanced">Listening to port:</span> <span class="extension-Candle-manager-addon-advanced new-port-id"></span>
        </div>
        <div class="extension-Candle-manager-addon-button-footer">
            <div></div>
            <button class="extension-Candle-manager-addon-next">Next</button>
        </div>
    </div>
    <div id="extension-Candle-manager-addon-step6">
        <h2>Done</h2>
        <p>You can now close this tab and go back to the WebThings Gateway.</p>
        <p>If you have already attached the radio device, then your new creation should show up in the list of new available things there.</p>
        <div class="extension-Candle-manager-addon-button-footer">
            <button class="extension-Candle-manager-addon-restart">Finished</button>
            <div></div>
        </div>

    </div>

</div>
// -->