<div id="extension-Candle-manager-addon-content">
	<img src="/extensions/Candle-manager-addon/images/candle_logo_simple.png">
  <div id="extension-Candle-manager-addon-request">
    <h2>Echo Request</h2>
    <div id="extension-Candle-manager-addon-form-content">
      <label for="key">Key: </label>
      <input type="text" name="key" id="extension-Candle-manager-addon-form-key" required>
      <br>
      <label for="value">Value: </label>
      <input type="text" name="value" id="extension-Candle-manager-addon-form-value" required>
      <br>
      <button type="button" id="extension-Candle-manager-addon-form-submit">Send</button>
    </div>
  </div>

  <br>
  <br>

  <div id="extension-Candle-manager-addon-response">
    <h2>Echo Response</h2>
    <pre id="extension-Candle-manager-addon-response-data"></pre>
  </div>
</div>
