
div.wizard-container {
  display: table;
  height: 65px;
  margin: auto;
  width: 90%;
}
div.wizard-container .wizard {
  list-style: none;
  padding: 0;
  display: table-row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
div.wizard-container .wizard.numeric li {
  font-family: "Spinnaker", sans-serif;
  position: relative;
  display: table-cell;
}
div.wizard-container .wizard.numeric li span {
  color: #333;
  border: 3px solid #d6d6d6;
  border-radius: 50px;
  text-align: center;
  width: 27px;
  height: 27px;
  display: inline-block;
  line-height: 1.9em;
}
div.wizard-container .wizard.numeric li div {
  position: absolute;
  bottom: 0px;
  font-size: 18px;
  transform: translateX(calc(-50% + 15px));
  overflow: hidden;
  white-space: nowrap;
}
div.wizard-container .wizard.numeric li.done span {
  border: 3px solid #0277bd;
}
div.wizard-container .wizard.numeric li.active span {
  color: #fff;
  background: #0277bd;
  border: 3px solid #0277bd;
  font-weight: bold;
}
div.wizard-container .wizard.numeric li:not(.active) div {
  bottom: 3px;
  color: #555;
  font-size: 14px;
}
div.wizard-container .wizard.numeric li:last-child {
  width: 33px;
}
div.wizard-container .wizard.numeric li:not(:last-child):after {
  content: '';
  background: #d6d6d6;
  height: 4px;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -1em 0.85em 0em 2.8em;
}
div.wizard-container .wizard.numeric li.done:not(:last-child):after {
  background: #0277bd;
}
@media only screen and (max-width: 1200px) {
  div.wizard-container {
    height: 80px;
    position: relative;
    width: 100%;
  }
  div.wizard-container .wizard.numeric li {
    position: initial;
  }
  div.wizard-container .wizard.numeric li div {
    bottom: 0;
    font-size: 24px;
    left: 0;
    transform: translateX(0);
  }
  div.wizard-container .wizard.numeric li:not(:last-child):after {
    margin: -1em 0.45em 0 2.35em;
  }
  div.wizard-container .wizard.numeric li:not(.active) div {
    display: none;
  }
}
